body {
    
    font-family: "Roboto Condensed";
	margin: 0px;
	padding: 0px;
    
}

.header {
	
	position: absolute;
	left: 0px;
	height: 26px;
	background-color: #200020;
	border-bottom: 1px solid gold;
	width: 100%;
	
	
}

#game-title {
	
	padding-left: 10px;
	padding-top: 3px;
	color: white;
	
}

#frame {
	
	position: absolute;
	bottom: 0;
	top: 27px;
	height: auto;
	background-color: #200020;
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-top: 10px;
	justify-content: center;
	overflow: auto;
	white-space: nowrap;

	
}

.panel {
	
	vertical-align: top;
	height: 200px;
	flex: 1;
	display:flex;
	
}


.pad {

	padding: 20px;
	
}

.fullwidth {
	
	margin-right: -22px;
	
}


.flexarea {
	
	vertical-align: top;
	flex: 1;
	display:flex;
	
}

.right-panel table tbody tr td{
	
	color: white;
	width:100px;
	
}

.column{
	
	flex-direction: column;
	flex-wrap: nowrap;
}
.row{
	
	flex-direction: row;
	flex-wrap: nowrap;
}

.centre-panel {
	
	border: 1px outset gold;
	background-color: #300030;
}

.hidden{
	
	display: none;
	
}

#devotion-counter{
	
	
	margin: -21px;
	margin-right: 0px;
	border: 3px double gold;
	width: 20px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-end;
	
}

.button-main {
	
	border: 1px solid gold;
	border-bottom:3px solid gold;
	height: 20px;
	width: 100%;
	vertical-align: bottom;
	text-align: center;
	padding: 10px;
	color: white;
	margin-bottom: 30px;
	margin-top: -20px;
	
}

.button-main:hover {
	
	background-color: #200020;	
	
}

.button {
	
	border: 1px solid gold;
	border-bottom:3px solid gold;
	height: 20px;
	width: 90%;
	vertical-align: bottom;
	text-align: center;
	padding: 10px;
	color: white;
	margin-bottom: 30px;
	margin-top: -20px;
	flex: 1;
	
}
.button:hover {
	background-color: #200020;	
}

.devotionPip {
    
    z-index: 20;
    height: 10px;
    align-self: right;
    margin: 0px;
    background-color: gold;
    width: 100%;
	
}

.slideIn {
    
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease;

}

.fadeIn {
    
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-timing-function: ease;

}

.slideOut {
    
  animation-name: slideIn;
  animation-duration: 1.0s;
  animation-timing-function: linear;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    width:0%;
  }

  to {
    opacity: 1;
    width:100%;
  }
}

@keyframes slideIn {
  from {
    height: 0px;

	background-color: purple;
  }

  to {
    height: 10px;

	background-color: gold ;
  }
}

@keyframes slideOut {
  from {
    height: 10px;
    width: 20px;
  }

  to {
    height: 0px;
    width: 20px;
	

  }
}

